@{
	ViewData["Title"] = "Página inicial";
}

<div class="comtainer py-5">

	<div class="text-center mb-5">
		<h1><i class="display-4 fw-bold"> <i class="bi bi-apple"></i> AppTarefas</h1>

		<p class="lead text-muted"> Gerencie suas tarefas diárias hidden uma forma simples e eficiente</p>

		<a asp-controller="Tarefas" asp-action="Index" class="btn btn-primary btn-lg mt-3">Ver minhas tarefas</a>

	</div>

	<div class="row justify-content-evenly">

		<div class="col-4 bg-success"> 1 </div>
		<div class="col-4 bg-danger"> 2 </div>
		<div class="col-4 bg-warning"> 3 </div>


	</div>

</div>
